#BotbarWrapper {
    height: 11vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#BotbarButtonBack {
    height: 56%;
    border: none;
    background-color: transparent;
    padding: 0 1rem;
    color: #9699AA;
    font-size: 14px;
    font-weight: 500;
    visibility: hidden;
}

#BotbarButtonNext {
    padding: .75rem 1rem;
    margin: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #022959;
    color: #FFF;
    font-weight: 500;
    font-size: 14px;
}