#BotbarWrapper {
    height: 75px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#BotbarButtonBack {
    height: 2.5rem;
    border: none;
    background-color: transparent;
    padding: 0 1rem;
    color: #9699AA;
    font-size: 0.875rem;
    font-weight: 500;
    transition: all 1s;
}

#BotbarButtonNext {
    min-width: 5.875rem;
    height: 2.5rem;
    margin: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #D6D9E6;
    color: #FFF;
    font-weight: 500;
    font-size: 0.875rem;
    transition: all 1s;
}

#BotbarButtonNext:hover {
    cursor: pointer;
}

#BotbarButtonBack:hover {
    cursor: pointer;
    color: #022959;
}



@media screen and (min-width: 1023.5px) {
    #BotbarWrapper {
        position: absolute;
        bottom: 0px;
        display: flex;
        width: 75%;
        left: 50%;
        transform: translateX(-50%);
    }
    #BotbarButtonNext {
        margin: 1rem 7.5% 1rem 1rem;
        border-radius: 8px;
    }
}
