.PlanToSelectWrapper {
    max-height: 9.5%; /* 11.5% when yearly  */
    border: 1px solid #D6D9E6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
    transition: all 1s;
}

.PlanToSelectWrapper:hover {
    cursor: pointer;
}

.planName {
    font-weight: 500;
    font-size: 1rem;
    color: #022959;
    transition: all 1s;
    margin: 0;
}

.planPrice {
    font-weight: 400;
    font-size: 0.875rem;
    color: #9699AA;
    margin: 0.3125rem 0 0 0;
    transition: all 1s;
}

.planSvg {
    margin: 1rem;
}

.freeMonths {
    color: #022959;
    font-weight: 400;
    font-size: 0.75rem;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.planDetailsContainer {
    width: 100%;
}

.ghostDivs {
    display: none;
}

.allDetailsContainer {
    margin: .75rem 0;
}

@media screen and (min-width: 1023.5px) {
    .PlanToSelectWrapper {
        max-height: 19%; /* 23% when yearly all times two when desktop true */
        width: 31.6666%;
        border: 1px solid #D6D9E6;
        border-radius: 8px;
        display: inline-block;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1rem;
        transition: all 1s;
    }

    #Arcade {
        margin-right: 2.5%;
    }

    #Advanced {
        margin-right: 2.5%;
    }

    .allDetailsContainer {
        margin: 1rem;
    }

    #chooseLength {
        margin-top: 2rem;
    }
}